# TAREFA 5

Criar uma tabela com uma chave simples e alguns dados de exemplo. Cada valor de chave é um número
incremental e está associado a com valores que variam de 0 até 10

O que entregar: Imprimir os valores das 10 primeiras tuplas da tabela, ordenando por k.

In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-macosx_11_0_arm64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 5.5 MB/s  0:00:00 eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

Iniciar conexão com o banco de dados

In [10]:
import psycopg2

conn = psycopg2.connect(
    dbname='notebook_bd',
    user='michael',
    password='mwpv0301',
    host='localhost'
)


cursor = conn.cursor()

Criar as tabelas juntamente com os dados para o banco de dados local

In [3]:
conn.rollback()

cursor.execute("DROP TABLE IF EXISTS t;")
cursor.execute("""CREATE TABLE t (k serial PRIMARY KEY, v integer);
""")
cursor.execute("""
INSERT INTO t(v)
SELECT trunc(random() * 10) FROM generate_series(1,100000);
""") 

conn.commit()

Mostrar as 10 primeiras linhas da tabela aleatória criada

In [11]:
conn.rollback()

cursor.execute("""
SELECT * FROM t
ORDER BY k
LIMIT 10;
""")

print(cursor.fetchall())

[(1, 6), (2, 0), (3, 2), (4, 2), (5, 1), (6, 1), (7, 6), (8, 4), (9, 7), (10, 4)]

# TAREFA 6

Verifique quantas páginas com blocos foram criadas para a tabela da Tarefa 5

In [12]:
cursor.execute("""
SELECT relname, relpages, reltuples FROM pg_class WHERE relname = 't';
""")

print(cursor.fetchall())

[('t', 443, 100000.0)]

# TAREFA 7

Verifique quantos blocos foram efetivamente usados numa consulta

In [14]:
conn.rollback()

cursor.execute("""
SELECT pg_sleep(1);               
""")

cursor.execute("""
SELECT * FROM pg_stats WHERE tablename = 't';               
""")
resultado = cursor.fetchall()

cursor.execute("""
SELECT pg_stat_reset();
""")

print(resultado)

InsufficientPrivilege: permission denied for function pg_stat_reset