In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-macosx_11_0_arm64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 5.5 MB/s  0:00:00 eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

Iniciar conexão com o banco de dados

In [ ]:
import psycopg2

conn = psycopg2.connect(
    dbname='notebook_bd',
    user='michael',
    password='mwpv0301',
    host='localhost'
)


cursor = conn.cursor()

Criar as tabelas juntamente com os dados para o banco de dados local

In [20]:
conn.rollback()

cursor.execute("DROP TABLE IF EXISTS t;")
cursor.execute("""CREATE TABLE t (k serial PRIMARY KEY, v integer);
""")
cursor.execute("""
INSERT INTO t(v)
SELECT trunc(random() * 10) FROM generate_series(1,100000);
""") 

conn.commit()

Mostrar as 10 primeiras linhas da tabela aleatória criada

In [24]:
conn.rollback()

cursor.execute("""
SELECT * FROM t
ORDER BY k
LIMIT 10;
""")

print(cursor.fetchall())

[(1, 3), (2, 8), (3, 3), (4, 2), (5, 3), (6, 0), (7, 1), (8, 7), (9, 4), (10, 4)]